.Photo { 
    width : 200px ; 
    height : 200px ; 
}
.form-container {
    border: 1px solid black;
    margin: 20px 100px;
    font-size: 22px;
    background: linear-gradient( 90deg, rgb(128, 128, 128, 0.45), rgb(128, 128, 128, 0.75));
    border-radius: 50px 0px;
    text-align : center ; 
   
}
.parameters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 60px;
}
.input-container {
    border: 1px dashed black;
    height: 50px;
    width: 15%;
    background: rgb(255, 255, 255, 0.50) ;
    border-radius: 15px 15px 0px 0px;
    
}

.form-container button {
    margin-bottom : 20px ;
    width : 30% ; 
    
    border : 2px thick black ; 
    border-radius : 15px 0px;
}
.ingredient-input {
    display : flex ;
    flex-direction : row ;
    margin: 30px 0px;
    margin-left: 7%;
}
.scrollable{
    width: 300px;
    height: 250px;
    display: block;
    overflow: auto;
}
.result { 
    text-align : center ;
}
.result table td{
    min-width : 100px ; 
    border : 1px solid rgb(18, 56, 20);
}
.result table td, .result table th {
    text-align: center;
}
.result table th {
    font-size : 18px ; 
}