
@{
	ViewData["Title"] = "Note";
}
<div style="text-align : center">
	<h3>most of the data were from the mealdb <a taget="_blank" href="https://www.themealdb.com/">here</a></h3>
	<h3>the calories , serving and cooking time numbers may not be very accurate ( by chat gpt ._. )</h3>
	<a asp-action="Index" asp-controller="Home">Back</a>
</div>
